# Telebot requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
pyTelegramBotAPI>=4.11.0
telebot>=0.0.5
spotipy>=2.23.0
requests>=2.29.0
beautifulsoup4>=4.12.2
anthropic~=0.43.0
google-generativeai
# ------------------------------------------------------------------------------

protobuf~=5.29.3
httpx~=0.28.1
google-api-python-client~=2.159.0
python-dotenv~=1.0.1